<ion-content paddging>
  <ion-list>
    <ion-item>
      <ion-label>
        Profile
      </ion-label>
      <ion-icon name="person-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Library</ion-label>
      <ion-icon name="musical-notes-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Messages</ion-label>
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-label>Sign Out</ion-label>
        <ion-icon name="exit-outline"></ion-icon>
        
    </ion-item>
  </ion-list>
</ion-content>