img {
  height: 100%;
}

// ion-split-pane {
//     background-color: black;
// }

.playControls {
  position: absolute;
  bottom: 0;
  right: 0;
}

ion-split-pane {
  --side-max-width: 50%;
}

// #main {
//   width: 40%;
// }

// #controls {
//   width: 60%;
// }

.song_label {
  padding: 30px 30px 30px 30px;
}