<ion-split-pane contentId="main">
  <ion-menu>
    <img src="../../assets/img/Famouz.jpg">
  </ion-menu>
  <!-- <ion-content>
    <ion-label></ion-label>
  </ion-content> -->
  <ion-content contentId="controls">
    <ion-label>

      Song Name
    </ion-label>
    <ion-item lines="none" class="playControls">
      <ion-grid>
        <ion-col>
          <ion-row>
            <ion-item lines="none">
              <ion-icon name="play-back"></ion-icon>
            </ion-item>
            <ion-item lines="none" (click="audioPlayback.play()")>
              <ion-icon name="play"></ion-icon>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="play-forward"></ion-icon>
            </ion-item>
          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-item>
  </ion-content>
</ion-split-pane>