ion-split-pane {
  --side-max-width: 40%;
}

img {
  height: 100%;
}

ion-footer {
  position: absolute;
  bottom: 0;
}

// .rise-logo {
//     position: absolute;
//     top: 0px;
//     left: 0px;
// }
