<ion-header>
  <!-- ion-toolbar -->
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title>RISE</ion-title>
      <ion-item class="upload">
        <ion-label>Upload</ion-label>
      </ion-item>
      <ion-avatar (click)="presentPopover()">
        <img src="../../assets/img/pexels-ralph-rabago-3214734.jpg">
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="whats_new">
    <ion-text>
      <h5>What's New Today</h5>
    </ion-text>
  </div>
  <ion-row>
    <ion-col *ngFor="let track of playlist" col-4>
      <!-- <ion-item  lines="none" (click)="start(track)"> -->
      <ion-card (click)="start(track)">
        <img src={{track.album_art}}>
        <ion-card-header>
          <ion-card-subtitle>{{track.artist}}</ion-card-subtitle>
          <ion-card-title>{{track.title}}</ion-card-title>
        </ion-card-header>
      </ion-card>

      <!-- </ion-item> featured artist-->
    </ion-col>
  </ion-row>
  <div class="feat_artist">
    <ion-text>
      <h5>Featured Artists</h5>
    </ion-text>
    <ion-item>
      <ion-col>
        <ion-row>
          <ion-item>
          <ion-avatar>
            <img src="../../assets/img/pexels-ralph-rabago-3214734.jpg">
          </ion-avatar>
        </ion-item>
        <ion-item>
          <ion-avatar>
            <img src="../../assets/img/pexels-ralph-rabago-3214734.jpg">
          </ion-avatar>
        </ion-item>
        <ion-item>
          <ion-avatar>
            <img src="../../assets/img/pexels-ralph-rabago-3214734.jpg">
          </ion-avatar>
        </ion-item>
        <ion-item>
          <ion-avatar>
            <img src="../../assets/img/pexels-ralph-rabago-3214734.jpg">
          </ion-avatar>
        </ion-item>
        </ion-row>
      </ion-col>
    </ion-item>
  </div>
  <!-- <ion-fab slot="fixed">
    <ion-fab-button>Upload</ion-fab-button>
  </ion-fab> -->
</ion-content>

<app-favorite-genres></app-favorite-genres>


<!-- Playback controls, only present if active track playing -->
<ion-footer class="playback" *ngIf="activeTrack">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-item href="/now-playing" lines="none" class="albumArtItem">
          <img src={{activeTrack.album_art}} class="toolbarAlbumArt">
        </ion-item>
      </ion-col>
      <!-- <ion-col size="12"> -->
      <ion-label class="toolbar">{{ activeTrack.title }}</ion-label>
      <!-- </ion-col> -->

      <ion-col>
        <ion-range #range [(ngModel)]="progress" max="100" color="success" (touchend)="seek()" (mouseup)="seek()">
        </ion-range>
      </ion-col>
      <ion-col>
        <ion-item lines="none" class="playback_buttons">
          <ion-button fill="clear" (click)="prev()" color="dark" slot="end">
            <ion-icon name="play-back" slot="end"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="togglePlayer(false)" *ngIf="!isPlaying" color="dark" slot="end">
            <ion-icon name="play" slot="end"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="togglePlayer(true)" *ngIf="isPlaying" color="dark" slot="end">
            <ion-icon name="pause" slot="end"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="next()" color="dark" slot="end">
            <ion-icon name="play-forward" slot="end"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>